/* Error: expected "{".
 *    ,
 * 12 |   .{alternativaSect_img
 *    |                        ^
 *    '
 *   scss\paraImportar\_variables.scss 12:24  @import
 *   scss\style.scss 2:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 12 \2502    .{alternativaSect_img\d\a    \2502                         ^\a    \2575 \a   scss\\paraImportar\\_variables.scss 12:24  @import\a   scss\\style.scss 2:9                      root stylesheet';
}
