* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100%;
  justify-content: center;
}
body header {
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  text-align: center;
}
body header .barra__menu li {
  list-style: none;
  margin: 10px;
  padding: 10px;
}
body header .barra__menu a {
  text-decoration: none;
  font-size: 1.2;
  color: grey;
}
body header .barra__menu a:hover {
  color: rgb(255, 222, 90);
  background-color: rgb(164, 0, 0);
  padding: 10px;
}
body header .barra__logo--titulo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gray;
  font-size: 40px;
  font-weight: 200;
  animation-name: tituloAnimation;
}
body header .barra__logo--subtitulo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: grey;
  font-weight: 100;
  text-decoration: underline;
}
body .cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .cardContainer .card {
  width: 250px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: 0.5px;
  cursor: default;
  transition: all 400ms ease;
  text-align: center;
}
body .cardContainer .card:hover {
  transform: translateY(-10px);
  box-shadow: 2px;
}
body .cardContainer .card img {
  width: 100%;
  height: 250px;
}
body .cardContainer .card h4 {
  font-weight: 600;
  margin: 1vh;
}
body .cardContainer .card a {
  margin: 1vh;
  font-weight: 400;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  transition: all 400ms ease;
}
body .cardContainer .card a:hover {
  color: rgb(92, 165, 249);
}
body .encuadro {
  display: flex;
  flex-direction: column;
  margin: 10vh;
  text-align: center;
  border: solid 1px black;
  border-radius: 20px;
}
body .encuadro .encuadro__img {
  height: 20vh;
  margin: 3vh 10vw;
  border-radius: 20px;
}
body .encuadro .encuadro__titulo {
  font-size: 20px;
}
body .encuadro .encuadro__parrafo {
  font-size: 12px;
  margin: 10px;
}
body .footer {
  background-color: black;
  color: white;
  font-size: 7px;
}
body .footer .footer__lista {
  list-style: none;
  text-align: center;
  padding: 1vh;
  font-size: 15px;
  line-height: 2rem;
}
body .footer .footer__wpp {
  height: 10px;
}
@media (min-width: 600px) {
  body .barra__logo {
    margin-top: 7vh;
  }
  body .barra__logo--titulo {
    font-size: 10vh;
    animation-name: anime;
  }
  @keyframes anime {
    0% {
      margin-top: 0;
    }
    25% {
      margin-top: 1;
    }
  }
  body .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  body .encuadro {
    margin: 0 20% 0 20%;
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  body .encuadro .encuadro__img {
    margin: 3vh;
    height: 20vh;
  }
  body .encuadro .encuadro__texto {
    padding: 3vh;
  }
  body .barra__menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
