/* CARTAS */

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    width: 250px;
    margin: 3vh;
    border-radius: 6px;
    overflow: hidden;
    background-color: map-get($palette, $key: "success");
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
  }
  .card__img {
    width: 100%;
    height: 250px;
  }
  .card__titulo {
    font-weight: 600;
  }
  .card__texto {
    margin: 15px;
    line-height: 1.5;
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 200;
  }
  .card__link {
    margin-bottom: 30;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    transition: all 400ms ease;
  }
}
.card:hover {
  transform: translateY(-10px);
}
.card__link:hover {
  color: map-get($palette, $key: "primary");
}

/* FIN CARTAS */

/* CARTA INFORMATIVA */
