/* TITULOS */
.titulo {
  text-align: center;
  justify-content: center;
  padding: 3vh;
  margin-top: 5vh;
  font-family: "Times New Roman", Times, serif;
  .tituloPrincipal {
    font-weight: 10vh;
  }
}
/* FIN TITULOS */